body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.map-overlay {
    position: absolute;
    left: 0;
    padding: 8px;
}

.button {
    font-size: 2em; 
    color: snow; 
    background-color: blue; 
    border: solid black; 
    border-radius: 20px;
}

a {
    position: absolute;
    font-size: 2em;
    color: yellow;
    top: 0;
    right: 0;
    text-decoration: none;
    padding: 5px;
  }
  
  a:hover {
      text-decoration: underline;
      color: blue;
  }